.DS_Store
.idea
Assignment1/.DS_Store
Tutorial_4/.DS_Store
Tutorial_5/venv
Tutorial_5/.ipynb_checkpoints
Assignment2/.DS_Store
Assignment2/.ipynb_checkpoints
Assignment2/venv
Tutorial_6/venv
Tutorial_6/.ipynb_checkpoints
Assignment4/.ipynb_checkpoints
Assignment4/venv
Assignment4/data